/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/*------------- HEADER ------------- */

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(128, 214, 113, 0.8), 
        rgba(40, 180, 133, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}

.logo-box {
    position: absolute;
    top:  40px;
    left: 40px;
}

.logo {
    height: 35px;    
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /* corrigindo o bug da animação subindo, ela não apareceu para mim, então não seria necessário usar, mas é bom deixar de exemplo caso precise */
    
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /* colocando a animação(seção de baixo) na main para de fato ela ocorrer */
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    
    
    /*
    animation-delay: 3s; -> faz um delay na animação... ela só ocorre depois do tempo passado
    animation-iteration-count: 3; -> faz a animação o numero especificado de vezes 

    */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    /* colocando a animação(seção de baixo) na main para de fato ela ocorrer */
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

/*------------- Animation ------------- */
/* podemos escolher pontos para animar o nosso css */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    60% {
        transform: translateX(10px); /* fazendo ele passar do ponto zero e voltando depois (efeito indo e voltando) */
    }

    100% {
        opacity: 1;
        transform: translate(0); /*ele vai chegar na posição final (que é onde ele foi posicionado */

    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    
    60% {
        transform: translateX(-10px); /* fazendo ele passar do ponto zero e voltando depois (efeito indo e voltando) */
    }

    100% {
        opacity: 1;
        transform: translate(0); /*ele vai chegar na posição final (que é onde ele foi posicionado */

    }
}